<?= $this->render("admin/partials/header.phtml") ?>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <?= $this->render("admin/partials/botoes.phtml") ?>
        </div>
        <div class="box-body">
            <form class="form-horizontal populate" id="validate" action="<?= $this->serverUrl("/admin/usuario/salvar") ?>" method="POST">

                <input type="hidden" name="usuario[id_usuariotenant]" />
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nome:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" data-validetta="required" name="usuario[tx_nomeusuario]" id="usuario-tx_nomeusuario" placeholder="Nome">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">E-mail:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control email" name="usuario[tx_email]" id="usuario-tx_email" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Usuário de Acesso:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control required"  name="usuario[tx_login]" placeholder="Usuário">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Senha:</label>
                        <div class="col-sm-4">
                            <?php
                            if (!empty($this->id_usuariotenant)) {
                                $display = "";
                                $displayContrario = "none";
                            } else {
                                $display = "none";
                                $displayContrario = "";
                            }
                            ?>
                            <div class="alterarSenha" style="display: <?= $displayContrario ?>">
                                <input type="text" class="form-control required" name="usuario[tx_senha]" placeholder="Senha">
                            </div>

                            <button class="btn btn-primary btn-sm btnAlterarSenha" type="button" onclick="alterarSenhaToggle()" style="display: <?= $display ?>">
                                Alterar Senha
                            </button>
                        </div>
                        <script>
                            function alterarSenhaToggle() {
                                $(".alterarSenha").toggle();
                                htmlBotao = $(".btnAlterarSenha").text();
                                if ($.trim(htmlBotao) == "Alterar Senha") {
                                    $(".btnAlterarSenha").html("Manter senha atual.");
                                } else {
                                    $(".btnAlterarSenha").html("Alterar Senha");
                                }
                            }
                        </script>
                    </div>
                </div>

                <?php
                if (!empty($this->id_usuariotenant)) {

                    $isAdmin = (new Base\Service\Tbusuariotenant)->isAdmin($this->id_usuariotenant);
                    if ($isAdmin) {
                        ?>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">É usuario admin?:</label>
                            <div class="col-sm-4">
                                <label class="control-label" style="cursor: pointer">
                                    <input type="radio" name="usuario[st_admin]" value="S" checked class="required radio_st_admin"> Sim
                                </label>
                                &nbsp;&nbsp;&nbsp;
                                <label class="control-label" style="cursor: pointer">
                                    <input type="radio" name="usuario[st_admin]" value="N" class="required radio_st_admin"> Não
                                </label>
                            </div>
                        </div>
                    <?php } ?>
                <?php } ?>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-4">
                        <label>
                            <input type="checkbox" name="usuario[st_ativo]" value="S">
                            Ativar usuário
                        </label>
                    </div>
                </div>

                <script>
                    $(".radio_st_admin").click(function () {
                        if ($(this).val() == 'S') {
                            $(".div-permissoes").slideUp('normal');
                        } else {
                            $(".div-permissoes").slideDown('normal');
                        }
                    });
                    $(function () {
                        $(".radio_st_admin:checked").click();
                    })
                </script>
                <div class="div-permissoes">
                    <?php
                    $possuiPermissaoAlterarPermissoes = (new Base\Service\Tbusuariotenantpermissao())->possuiPermissao('alterar-permissoes-usuarios', null, 'R');
                    if ($possuiPermissaoAlterarPermissoes) {
                        ?>
                        <?php
                        foreach ($this->paineisPermissoes as $panel) {
                            ?>
                            <div class="col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <?= $panel['tx_panel'] ?>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-responsive table-hover tabelaPermissoes">
                                            <tr>
                                                <th style="width:50px">
                                                    Permitir?
                                                </th>
                                                <th>
                                                    Funcionalidade
                                                </th>
                                            </tr>

                                            <?php
                                            $permissoesPanel = (new Base\Service\Tbpermissao())->fetchAll(array('tx_panel_permissoes' => $panel['tx_panel']));

                                            foreach ($permissoesPanel as $permissao) {
                                                $checked = "";
                                                if (in_array($permissao['id_permissao'], $this->permissoesUsuario)) {
                                                    $checked = "checked='checked'";
                                                }
                                                ?>
                                                <tr style="cursor: pointer;" class="<?= (empty($checked) ? 'danger' : 'success') ?> trPermissoes">
                                                    <td style="text-align: center" class="tdPermitir">
                                                        <input <?= $checked ?> type="checkbox" class="radioPermitir" name="permissoes[<?= $permissao['id_permissao'] ?>]"/>
                                                    </td>
                                                    <td>
                                                        <?= $permissao['tx_nomepermissao'] ?>
                                                    </td>
                                                </tr>
                                            <?php } ?>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>

                        <script>
                            function checkPermissao(obj) {
                                tr = $(obj);
                                checkboxPermitir = $(obj).find('.radioPermitir');
                                if (checkboxPermitir.is(":checked")) {
                                    checkboxPermitir.prop("checked", false);
                                    tr.removeClass("success");
                                    tr.addClass("danger");
                                } else {
                                    checkboxPermitir.prop("checked", true);
                                    tr.removeClass("danger");
                                    tr.addClass("success");
                                }
                            }

                            $(".radioPermitir").click(function () {
                                obj = $(this).closest("tr.trPermissoes");
                                checkPermissao(obj);
                            });

                            $(".tabelaPermissoes tr.trPermissoes").click(function () {
                                checkPermissao(this);
                            });
                        </script>
                        <?php
                    }
                    ?>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    formValidate("#validate");
    $("#btnSalvar").click(function(){
        $("#validate").submit();
    });
</script>