<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <?php
        echo $this->layout()->getVariable('tituloPagina');
        ?>
        <!--Usuários-->
        <small><?php echo $this->layout()->getVariable('subTituloPagina'); ?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin/inicio"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            <?php
            echo $this->layout()->getVariable('tituloPagina');
            ?>
        </li>
    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <?= $this->render("admin/partials/botoes.phtml", array('renderButtons' => array('N'))) ?>
        </div>
        <div class="box-body">
            <form class="form-horizontal">
                <div class="box-body">
<!--                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nome:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Nome">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">CPF:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control cpf" placeholder="CPF">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <button class="btn btn-sm btn-primary pull-left">
                                <i class="fa fa-search"></i>
                                Pesquisar
                            </button>
                            <button class="btn btn-primary pull-right btn-sm">
                                <i class="fa fa-list"></i>
                                Listar Todos
                            </button>
                        </div>
                    </div>-->
                </div>
            </form>

            <table class="table table-hover" id="tableUsuarios">
                <thead>
                    <tr>
                        <th style="width:20px">Editar</th>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Login</th>
                        <th style="width:20px">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($this->usuarios as $usuario) {
                        ?>
                        <tr>
                            <td>
                                <?php if ($this->layout()->getVariable('possuiPermissaoCadastrar')) { ?>
                                    <a href="<?= $this->serverUrl("/admin/usuario/formulario?id=") . $usuario['id_usuariotenant'] ?>" class="btn btn-sm btn-success" data-toggle="tooltip" title="Editar">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                <?php } else if ($this->layout()->getVariable('possuiPermissaoVisualizar')) {
                                    ?>
                                    <a href="<?= $this->serverUrl("/admin/usuario/formulario?id=") . $usuario['id_usuariotenant'] ?>" class="btn btn-sm btn-primary" data-toggle="tooltip" title="Visualizar">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <?php
                                }
                                ?>
                            </td>
                            <td><?= $usuario['id_usuariotenant'] ?></td>
                            <td><?= $usuario['tx_nomeusuario'] ?></td>
                            <td><?= $usuario['tx_email'] ?></td>
                            <td><?= $usuario['tx_login'] ?></td>
                            <td>
                                <?php if ($this->layout()->getVariable('possuiPermissaoExcluir')) { ?>
                                    <button class="btn btn-sm btn-danger" data-toggle="tooltip" title="Excluir" type="button" onclick="removeUsuario(this, '<?= $usuario['id_usuariotenant'] ?>', '<?= $usuario['tx_nomeusuario'] ?>')">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                <?php } ?>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
                <tfoot>
                    <tr>
                        <th style="width:20px">Editar</th>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Login</th>
                        <th style="width:20px">Excluir</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <script>
            __initDataTable("#tableUsuarios");
<?php if ($this->layout()->getVariable('possuiPermissaoExcluir')) { ?>
                function removeUsuario(obj, id, nomeusuario) {
                    msg = "Tem certeza que deseja excluir o usuário '" + nomeusuario + "'.";
                    removeData("Esta ação pode ser irreversível!", msg, 'question', obj, '/admin/usuario/remover-usuario?id=' + id);
                }
<?php } ?>
        </script>
    </div>
</section>