<?= $this->render("admin/partials/header.phtml") ?>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <?= $this->render("admin/partials/botoes.phtml") ?>
        </div>
        <div class="box-body">
            <form class="form-horizontal populate" id="validate" action="<?= $this->serverUrl("/admin/conta-receber/salvar") ?>" method="POST">
                <input type="hidden" name="conta-receber[id_contareceber]" />

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <?= (new \Base\Controller\BaseController())->getImgObrigatorio() ?> 
                        Descrição:
                    </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" data-validetta="required" name="conta-receber[tx_descricao]" id="conta-receber-tx_descricao" placeholder="Descrição do Recebível">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label">Categoria:</label>
                    <div class="col-sm-6">
                        <!--<div class="input-group">-->
                        <input type='text' class='form-control' id='categoria' name="conta-receber[tx_categoria]" />
<!--                            <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" tabindex="-1" title="Adicionar Novo" data-toggle="tooltip">
                                <i class="fa fa-plus-circle"></i>
                            </button>
                        </span>-->
                        <!--</div>-->
                    </div>
                </div>

                <?php
                $categoria = (new \Base\Service\Tbcategoriaconta())->fetchAll();
                $categoria = json_encode($categoria);
                ?>
                <script>
                    $(function () {
                        var options = {
                            data: <?= $categoria ?>,
                            getValue: 'tx_categoria',
                            list: {
                                match: {
                                    enabled: true
                                }
                            }
                        };

                        $("#categoria").easyAutocomplete(options);
                    });
                </script>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <?= (new \Base\Controller\BaseController())->getImgObrigatorio() ?> 
                        Conta Bancária:
                    </label>
                    <div class="col-sm-6">
                        <!--<div class="input-group">-->
                        <?php
                        $contas = (new Base\Service\Tbbancoconta())->getArrContas(array('st_ativo' => 'A'));
                        ?>
                        <select class="form-control" name="conta-receber[id_bancoconta]" data-validetta="required">
                            <?php
                            echo (new Base\Controller\BaseController)->formSelect($contas);
                            ?>
                        </select>            
<!--                            <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" tabindex="-1" title="Adicionar Novo" data-toggle="tooltip">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <i class="fa fa-plus-circle"></i>
                            </button>
                        </span>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <?= (new \Base\Controller\BaseController())->getImgObrigatorio() ?> 
                        Dt. Competência:
                    </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control date" data-validetta="required" name="conta-receber[dt_competencia]" id="conta-receber-dt_competencia" placeholder="Dt. Competência">
                    </div>
                    <label class="col-sm-2 control-label">
                        <?= (new \Base\Controller\BaseController())->getImgObrigatorio() ?> 
                        Dt. Vencimento
                    </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control date" data-validetta="required" name="conta-receber[dt_vencimento]" id="conta-receber-dt_vencimento" placeholder="Dt. Vencimento">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <?= (new \Base\Controller\BaseController())->getImgObrigatorio() ?> 
                        Valor Total:
                    </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control decimal" data-validetta="required" name="conta-receber[vl_total]" id="conta-receber-vl_total" placeholder="Valor Total">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Multa:</label>
                    <div class="col-md-3">
                        <select class="form-control" style="width: 28%;float:left" name="conta-receber[st_tipomulta]" onchange="formatoCampo(this, '#conta-receber-vl_multa')">
                            <option value="R">R$</option>
                            <option value="P">%</option>
                        </select>
                        <input type="text" class="form-control decimal pull-left" style="width:72%;" name='conta-receber[vl_multa]' id="conta-receber-vl_multa">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Mora:</label>
                    <div class="col-md-3">
                        <select class="form-control" style="width: 28%;float:left" name="conta-receber[st_tipomora]" onchange="formatoCampo(this, '#conta-receber-vl_mora')">
                            <option value="R">R$</option>
                            <option value="P">%</option>
                        </select>
                        <input type="text" class="form-control decimal pull-left" style="width:72%" name='conta-receber[vl_mora]' id="conta-receber-vl_mora">
                    </div>
                </div>

                <?php if (empty($this->id_contareceber)) { ?>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            <input type="checkbox" onclick="habRepetir(this)" name="conta-receber[st_repetir]" id="conta-receber-st_repetir"> Repetir
                        </label>

                        <label class="col-sm-3 control-label">
                            <input type="checkbox" name="conta-receber[st_lancarcomoparcelamento]" id="conta-receber-st_lancarcomoparcelamento" disabled value='S'> Lançar como Parcelamento
                        </label>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 col-md-offset-2">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <select class="form-control" name="conta-receber[st_tiporepetir]" id="conta-receber-st_tiporepetir" disabled>
                                        <option value="diaria">Diariamente</option>
                                        <option value="semana">Semanalmente</option>
                                        <option value="mes">Mensalmente</option>
                                        <option value="bimestre">Bimestralmente</option>
                                        <option value="trimestre">Trimestralmente</option>
                                        <option value="semestre">Semestralmente</option>
                                        <option value="anual">Anualmente</option>
                                    </select>
                                </div>                  
                                <label class="control-label col-sm-1">
                                    Ocorrências
                                </label>
                                <div class="col-sm-4">
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control pull-left numericonly" name="conta-receber[nr_ocorrencias]" disabled id="conta-receber-tx_ocorrencias" /> 
                                    </div>
                                    <label class="col-sm-3 control-label" style="padding-left: 0;text-align: left">
                                        vezes
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } ?>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Observação:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="conta-receber[tx_observacao]" id="conta-receber-tx_observacao" placeholder="Observação do Recebível">
                    </div>
                </div>

                <div class="form-group">
                    <div class="campo">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-9">
                            <input type="file" id="conta-receber-arquivo" name="anexos[]" multiple="multiple" class="filestyle">

                            <?php
                            if (!empty($this->id_contareceber)) {
                                $anexos = (new Base\Service\Tbcontareceberanexo())->fetchAll(array(
                                    'id_contareceber' => $this->id_contareceber
                                ));

                                if (!empty($anexos)) {
                                    $arrAnexos = array();
                                    foreach ($anexos as $key => $anexo) {
                                        $arrAnexos['folder'] = $anexo['tx_folder'];
                                        $arrAnexos['arquivos'][$key]['nomeServidor'] = $anexo['tx_nomeservidor'];
                                        $arrAnexos['arquivos'][$key]['nomeArquivo'] = $anexo['tx_nomearquivo'];
                                    }
                                    $jsonAnexos = json_encode($arrAnexos);
                                    ?>
                                    <div class="anexos-contareceber"></div>
                                    <script>
                                        $(function () {
                                            data = <?= $jsonAnexos ?>;
                                            putAnexo(data, '.anexos-contareceber', 'S');
                                        })
                                    </script>
                                    <?php
                                }
                            }
                            ?>

                            <div id="div-anexos">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <script>
                        $('#conta-receber-arquivo').filestyle({
                            badge: false,
                            input: false,
                            btnClass: 'btn-primary',
                            htmlIcon: '<span class="fa fa-folder"></span> ',
                            text: 'Anexos'
                        });
                    </script>
                </div>

            </form>
            <hr />
            <?php
            if (!empty($this->id_contareceber)) {
                $repeticoesConta = (new Base\Service\Tbcontareceber())->fetchAll(array('id_contareceberorigem' => $this->id_contareceber));

                if (!empty($repeticoesConta)) {
                    ?>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Visualizar
                                </th>
                                <th>
                                    Descrição
                                </th>
                                <th>
                                    Dt. Vencimento
                                </th>
                                <th>
                                    Valor Total
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            foreach ($repeticoesConta as $contaReplica) {
                                ?>
                                <tr>
                                    <td style="width: 20px">
                                        <button type="button" onclick="openConta('<?= $contaReplica['id_contareceber'] ?>')" class="btn btn-sm btn-primary">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <?= substr($contaReplica['tx_descricao'], 0, 200); ?>
                                    </td>
                                    <td>
                                        <?= (new Base\Controller\BaseController())->reverseDate($contaReplica['dt_vencimento']); ?>
                                    </td>
                                    <td>
                                        <?= (new Base\Controller\BaseController())->floatToMoney($contaReplica['vl_total']) ?>
                                    </td>
                                </tr>
                                <?php
                            }
                            ?>
                        </tbody>
                    </table>
                    <?php
                }
            }
            ?>
        </div>
    </div>
</section>


<!-- Modal -->
<!--<div class="modal fade modal-wide" id="modalContaReceber" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
            <div class="modal-body">
                <div id='conta-receber-html'></div>
            </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
        </div>
    </div>
</div>-->

<script>
    formValidate("#validate");
    $("#btnSalvar").click(function () {
        $("#validate").submit();
    });

    function openConta(id_contareceber) {
        url = '<?= $this->serverUrl() ?>/admin/conta-receber/formulario?id=' + id_contareceber;

        window.open(url);
//        body = '<iframe src="' + url + '" width="99.6%" frameborder="0" height="500"></iframe>';
//        $("#conta-receber-html").html(body);
//        $("#modalContaReceber").modal();
    }


    function habRepetir(obj) {
        if ($(obj).is(":checked")) {
            $("#conta-receber-st_tiporepetir").prop('disabled', false);
            $("#conta-receber-tx_ocorrencias").prop('disabled', false);
            $("#conta-receber-st_lancarcomoparcelamento").prop('disabled', false);
        } else {
            $("#conta-receber-st_tiporepetir").prop('disabled', true);
            $("#conta-receber-tx_ocorrencias").prop('disabled', true);
            $("#conta-receber-st_lancarcomoparcelamento").prop('disabled', true);
        }
    }

    function formatoCampo(obj, id) {
        val = $(id).val();

        if ($(obj).val() == 'P') {
            $(id).removeClass('decimal');
            $(id).addClass('decimal4');
            val = moneyToFloat(val);
            val = floatToMoney(val, 4);
        } else if ($(obj).val() == 'R') {
            $(id).removeClass('decimal4');
            $(id).addClass('decimal');
            val = moneyToFloat(val);
            val = floatToMoney(val, 2);
        }
        $(id).val(val);

        _initMask();
    }

    $('#conta-receber-arquivo').change(function () {
        url_original = $('#validate').attr('action');
        console.log($(this).val());

        OpenMsgAguarde();
        $('#validate').ajaxSubmit({
            url: '/admin/conta-receber/upload-anexo',
            success: function (data) {
                $('#validate').attr('action', url_original);
                $('#validate').removeAttr('target');

                if (!empty(data.message)) {
                    openMsg('Erro', data.message, 'danger');
                } else {
                    data = $.parseJSON(data);
                    putAnexo(data, "#div-anexos");
                }

                CloseMsgAguarde();

            }
        });
    });

    function putAnexo(data, local, permiteEditar) {

        if (permiteEditar == 'N') {
            permiteEditar = false;
        } else {
            permiteEditar = true;
        }
        htmlAppend = '';

        $.each(data.arquivos, function (k, v) {
            htmlAppend += '<div class="div-anexos-botoes-arquivos">';
            htmlAppend += '<div class="btn-group">';
            if (permiteEditar) {
                htmlAppend += '<button type="button" class="btn btn-xs btn-default" title="Remover anexo" data-toggle="tooltip" onclick="removeAnexo(this)">';
                htmlAppend += '<i class="fa fa-remove"></i>';
                htmlAppend += '</button>'
            }
            htmlAppend += '<a href="/' + data.folder + '/' + v.nomeServidor + '" class="btn btn-xs btn-default" target="_blank">';
            if (permiteEditar) {
                htmlAppend += '<input type="hidden" name="conta-receber-arquivo[' + data.folder + '][]" value="' + v.nomeServidor + '">';
                htmlAppend += '<input type="hidden" name="conta-receber-nome-arquivos[' + v.nomeServidor + ']" value="' + v.nomeArquivo + '">';
            }
            htmlAppend += v.nomeArquivo;
            htmlAppend += '</a>';
            htmlAppend += '</div>';
            htmlAppend += '</div>';
        });
        $(local).append(htmlAppend);
        _initToolTip();
    }

    function removeAnexo(obj) {
        swal({
            title: "Remover anexo",
            text: "Tem certeza que deseja remover este anexo?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sim',
            cancelButtonText: 'Não'
        }).then(function (result) {
            if (result.value) {
                $(obj).closest('.div-anexos-botoes-arquivos').remove();
            }
        });
    }

    $(function () {
        if ($("#conta-receber-st_repetir").is(":checked")) {
            habRepetir($("#conta-receber-st_repetir"));
        }
    })

</script>