<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Menus</li>
    <li class="active">
        <a href="<?= $this->serverUrl("/admin/inicio") ?>">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li class="">
        <a href="<?= $this->serverUrl("/admin/usuario") ?>">
            <i class="fa fa-user"></i>
            <span>Usuários</span>
        </a>
    </li>
    <li class="">
        <a href="<?= $this->serverUrl("/admin/cliente") ?>">
            <i class="fa fa-users"></i>
            <span>Clientes</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-book"></i> <span>CRM</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="<?= $this->serverUrl("/admin/crm-interessado") ?>">
                    <i class="fa fa-arrow-right"></i> 
                    Cadastro de Interessados
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-circle-o"></i> 
                    Level One
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-dollar"></i> <span>Financeiro</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="treeview">
                <a href="#">
                    Contas a Pagar e Receber
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
<!--                        <a href="<?= $this->serverUrl("/admin/contas-pagar") ?>">
                            <i class="fa fa-circle-o"></i> 
                            Contas a Pagar
                        </a>-->
                        <a href="<?= $this->serverUrl("/admin/conta-receber") ?>">
                            <i class="fa fa-circle-o"></i> 
                            Contas a Receber
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>Cadastros</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="treeview">
                        <a href="#"><i class="fa fa-circle-o"></i> Banco
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="<?= $this->serverUrl('/admin/banco-conta') ?>">
                                    <i class="fa fa-circle-o"></i> 
                                    Contas Bancárias
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
    </li>
</ul>
