<style>
    .dropdown-submenu{
        position:relative;
    }
    .dropdown-submenu>.dropdown-menu{
        top:0;
        left:100%;
        max-width:180px;
        margin-top:-6px;
        margin-right:-1px;
        -webkit-border-radius:6px 6px 6px 6px;
        -moz-border-radius:6px 6px 6px 6px;
        border-radius:6px 6px 6px 6px;}
    .dropdown-submenu:hover>.dropdown-menu{
        display:block;
    }
    .dropdown-submenu>a:after{
        display:block;
        /*content:" ";*/
        float:left;
        width:0;
        height:0;
        border-color:transparent;
        border-style:solid;
        border-width:5px 5px 5px 0;
        border-right-color:#999;
        margin-top:5px;
        margin-right:10px;
    }
    .dropdown-submenu:hover>a:after{
        border-left-color:#ffffff;
    }
    .dropdown-submenu.pull-left{
        float:none;
    }
    .dropdown-submenu.pull-left>.dropdown-menu{
        left:-100%;
        margin-left:10px;
        -webkit-border-radius:6px 6px 6px 6px;
        -moz-border-radius:6px 6px 6px 6px;
        border-radius:6px 6px 6px 6px;}
    .dropdown-menu-left {
        margin-left:0;
        left:100%;
        top:0;
        background: #222d32;
    }
    .dropdown-menu-left li a{
        line-height: 35px
    }
    .menu-link, .menu-link a{
        width:100% !important;
        height: 40px;
        line-height: 25px;
        display: block;
        text-align: center
    }
    .menu-link:hover, .menu-link:active{
        background: #1e282c;
        color:#fff
    }
    .menu-link li{
        background: #222d32;
    }
    .menu-link .dropdown-menu{
        border:0;
        border-radius: 0
    }
    .caret-menu{
        position: absolute;
        right: 0;
        line-height: 36px;
        font-weight: bold;
    }
    .menu-link li a:active,menu-link li a:hover{
        background: #222d32;
    }
    .menu-link .dropdown-menu>li>a:hover{
        background-color: #1e282c;
        color:#fff;
    }
    .dropdown-submenu:hover ,
    .dropdown-submenu:active{
        background-color: #1e282c;
    }

    .menu-link .dropdown-submenu:hover a:hover{
        color:#fff
    }
    .menu-link .dropdown-menu{
        margin:0;
    }
    .dropdown-menu{
        padding:0
    }
    .dropdown-submenu{padding:5px 0px 0px 0px;}
</style>
<div class="container-fluid" style="padding: 0">
    <div class="btn-group menu-link">
        <a href="<?= $this->serverUrl("/admin/inicio") ?>" class="btn" style="width:100%">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </div>
    <div class="btn-group menu-link">
        <a href="<?= $this->serverUrl("/admin/usuario") ?>" class="btn" style="width:100%">
            <i class="fa fa-user"></i>
            <span>Usuários</span>
        </a>
    </div>
    <div class="btn-group menu-link">
        <a href="<?= $this->serverUrl("/admin/funcionario") ?>" class="btn" style="width:100%">
            <i class="fa fa-male"></i>
            <i class="fa fa-female"></i>
            <span>Funcionários</span>
        </a>
    </div>
    <div class="btn-group menu-link">
        <a href="<?= $this->serverUrl("/admin/cliente") ?>" class="btn" style="width:100%">
            <i class="fa fa-users"></i>
            <span>Clientes</span>
        </a>
    </div>
    <div class="btn-group menu-link">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="width:100%">
            CRM
            <i class="fa fa-angle-right caret-menu" style="line-height: 25px;right:10px!important"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu">
            <li>
                <a class="sub-menu-link" href="<?= $this->serverUrl("/admin/crm-interessado") ?>">
                    Cadastro de Interessados
                </a>
            </li>
        </ul>
    </div>
    <div class="btn-group menu-link">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="width:100%">
            <i class="fa fa-dollar"></i>
            Financeiro
            <i class="fa fa-angle-right caret-menu" style="line-height: 25px;right:10px!important"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-left" role="menu" aria-labelledby="dropdownMenu">
            <li class="dropdown-submenu">
                <a class="sub-menu-link">
                    Contas a Pagar e Receber
                    <i class="fa fa-angle-right caret-menu"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li>
                        <a href="<?= $this->serverUrl("/admin/contas-pagar") ?>">
                            Contas a Pagar
                        </a>
                    </li>
                    <li>
                        <a href="<?= $this->serverUrl("/admin/conta-receber") ?>">
                            Contas a Receber
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a class="sub-menu-link">
                    Cadastros
                    <i class="fa fa-angle-right caret-menu"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li class="dropdown-submenu">
                        <a class="sub-menu-link">
                            Banco
                            <i class="fa fa-angle-right caret-menu"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li>
                                <a class="sub-menu-link" href="<?= $this->serverUrl('/admin/banco-conta') ?>">
                                    Contas Bancárias
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>