<section class="content">
    <div class="box box-danger">
        <div class="box-header with-border text-center">
            <i class="fa fa-frown-o" style="font-size: 50px"></i>
            <br>
            Você não possui permissão para acessar esta ferramenta.
            <br>
            Caso deseja receber acesso, entrar em contato com o administrador do sistema.
        </div>
    </div>
</section>>