<?= $this->render("admin/partials/header.phtml") ?>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <?= $this->render("admin/partials/botoes.phtml") ?>
        </div>
        <div class="box-body">
            <form class="form-horizontal populate" id="validate" action="<?= $this->serverUrl("/admin/banco-conta/salvar") ?>" method="POST">

                <input type="hidden" name="banco_conta[id_bancoconta]" id="banco_conta-id_bancoconta" />
                <div class="box-body">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            <?= (new \Base\Controller\BaseController())->getImgObrigatorio() ?> 
                            Banco: 
                        </label>        
                        <?php
                        $bancos = (new \Base\Service\Tbbancoconta())->getArrBancoConta();
                        ?>
                        <div class="col-sm-6 input-group" style="padding-left: 15px;">
                            <select name="banco_conta[arr_banco]" id="banco_conta-arr_banco" class="form-control input-sm" data-validetta="required">
                                <?= (new \Base\Controller\BaseController)->formSelect($bancos); ?>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            <?= (new \Base\Controller\BaseController())->getImgObrigatorio() ?>  
                            Agência: 
                        </label>
                        <div class="col-sm-2">
                            <input type="text" name="banco_conta[tx_agencia]" id="banco_conta-tx_agencia" class="form-control input-sm small-input" maxlength="20" data-validetta="required">
                        </div>     

                        <label class="col-sm-1 control-label"> 
                            <?= (new \Base\Controller\BaseController())->getImgObrigatorio() ?>  
                            Conta: 
                        </label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" name="banco_conta[tx_conta]" id="banco_conta-tx_conta" class="form-control input-sm small-input" maxlength="20" data-validetta="required">
                                <span class="input-group-addon">
                                    <i class="fa fa-bank"></i>
                                </span>
                            </div>
                        </div>        
                    </div>
                    <!--                    <div class="form-group">
                                            <div class="help-block col-sm-6 col-sm-offset-2">
                    
                                                Conta Corrente Com Dígito (Se houver). Ex.: XXXXXX-X
                                                (Preencha corretamente os dados da conta corrente pois os mesmos serão utilizados para validar a importação do arquivo de retorno.)
                                            </div>
                                        </div>-->

                    <div class="form-group">
                        <label class="col-sm-2 control-label"> 
                            <?= (new \Base\Controller\BaseController())->getImgObrigatorio() ?>  
                            Status da Conta: 
                        </label>
                        <div class="col-sm-2">
                            <select name="banco_conta[st_ativo]" id="banco_conta-st_ativo" class="form-control input-sm" data-validetta="required">
                                <option value="A" label="ATIVO" title="ATIVO" selected="selected">ATIVO</option>
                                <option value="I" label="INATIVO" title="INATIVO">INATIVO</option>
                            </select>                
                        </div>
                    </div>


                </div>

            </form>
        </div>
    </div>
</section>
<script>
    formValidate("#validate");
    $("#btnSalvar").click(function () {
        $("#validate").submit();
    });
</script>