<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <?php
        echo $this->layout()->getVariable('tituloPagina');
        ?>
        <!--Usuários-->
        <small><?php echo $this->layout()->getVariable('subTituloPagina'); ?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin/inicio"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            <?php
            echo $this->layout()->getVariable('tituloPagina');
            ?>
        </li>
    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <?= $this->render("admin/partials/botoes.phtml", array('renderButtons' => array('N'))) ?>
        </div>
        <div class="box-body">
            <form class="form-horizontal">
                <div class="box-body">
                    <!--                    <div class="form-group">
                                            <label class="col-sm-2 control-label">Nome:</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="Nome">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">CPF:</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control cpf" placeholder="CPF">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-4">
                                                <button class="btn btn-sm btn-primary pull-left">
                                                    <i class="fa fa-search"></i>
                                                    Pesquisar
                                                </button>
                                                <button class="btn btn-primary pull-right btn-sm">
                                                    <i class="fa fa-list"></i>
                                                    Listar Todos
                                                </button>
                                            </div>
                                        </div>-->
                </div>
            </form>

            <table class="table table-hover" id="tableUsuarios">
                <thead>
                    <tr>
                        <th style="width:20px">Editar</th>
                        <th>Código</th>
                        <th>Banco</th>
                        <th>Agencia</th>
                        <th>Conta</th>
                        <th>Ativo</th>
                        <th style="width:20px">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    foreach ($this->bancoConta as $bancoConta) {
                        ?>
                        <tr>
                            <td>
                                <?php if ($this->layout()->getVariable('possuiPermissaoCadastrar')) { ?>
                                    <a href="<?= $this->serverUrl("/admin/banco-conta/formulario?id=") . $bancoConta['id_bancoconta'] ?>" class="btn btn-sm btn-success" data-toggle="tooltip" title="Editar">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                <?php } else if ($this->layout()->getVariable('possuiPermissaoVisualizar')) {
                                    ?>
                                    <a href="<?= $this->serverUrl("/admin/banco-conta/formulario?id=") . $bancoConta['id_bancoconta'] ?>" class="btn btn-sm btn-primary" data-toggle="tooltip" title="Visualizar">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <?php
                                }
                                ?>
                            </td>
                            <td><?= $bancoConta['id_bancoconta'] ?></td>
                            <td><?= (new \Base\Service\Tbbancoconta())->getArrBancoConta($bancoConta['arr_banco']) ?></td>
                            <td><?= $bancoConta['tx_agencia'] ?></td>
                            <td><?= $bancoConta['tx_conta'] ?></td>
                            <td>
                                <?php
                                echo ($bancoConta['st_ativo'] == 'I') ? "INATIVO" : "ATIVO";
                                ?>
                            </td>
                            <td>
                                <?php if ($this->layout()->getVariable('possuiPermissaoExcluir')) { ?>
                                    <button class="btn btn-sm btn-danger" data-toggle="tooltip" title="Excluir" type="button" onclick="remove(this, '<?= $bancoConta['id_bancoconta'] ?>', '<?= $bancoConta['tx_agencia'] . '/' . $bancoConta['tx_conta'] ?>')">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                <?php } ?>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
                <tfoot>
                    <tr>
                        <th style="width:20px">Editar</th>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Login</th>
                        <th style="width:20px">Excluir</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <script>
            __initDataTable("#tableUsuarios");
<?php if ($this->layout()->getVariable('possuiPermissaoExcluir')) { ?>
                function remove(obj, id, tx) {
                    msg = "Tem certeza que deseja excluir '" + tx + "'.";
                    removeData("Esta ação pode ser irreversível!", msg, 'question', obj, '/admin/banco-conta/remover?id=' + id);
                }
<?php } ?>
        </script>
    </div>
</section>