@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.lds-dual-ring {
    position: relative;
}
.lds-dual-ring div {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 44px;
    border-radius: 50%;
    border: 15px solid #000;
    border-color: #3085d6 transparent #3085d6 transparent;
    -webkit-animation: lds-dual-ring 1.5s linear infinite;
    animation: lds-dual-ring 1.5s linear infinite;
}
.lds-dual-ring {
    width: 40px !important;
    height: 40px !important;
    -webkit-transform: translate(-24.5px, -24.5px) scale(0.245) translate(24.5px, 24.5px);
    transform: translate(-24.5px, -24.5px) scale(0.245) translate(24.5px, 24.5px);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border-tab{
    border:1px solid #ddd;border-top: 0px;padding: 10px
}

.validetta-error input{
    border:1px solid #cd2e26;
}


.modal-wide, .modal-wide .modal-dialog{
    width: 90% !important;
    display:table!important;
    overflow-y: hidden !important;
}

.modal-wide{
    overflow-x: hidden !important;
}