<?= $this->render("admin/partials/header.phtml") ?>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <?= $this->render("admin/partials/botoes.phtml") ?>
        </div>
        <div class="box-body">
            <form class="form-horizontal populate" id="validate" action="<?= $this->serverUrl("/admin/cliente/salvar") ?>" method="post">
                <input type="hidden" name="cliente[id_clientetenant]" />
                <div class="box-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#geral">
                                <i class="fa fa-bookmark"></i>
                                Informações Gerais
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#emails-telefones"> 
                                <i class="fa fa-phone-square"></i>
                                E-mails/Telefones
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#enderecos">
                                <i class="fa fa-address-card"></i>
                                Endereços
                            </a>
                        </li>
                        <li><a data-toggle="tab" href="#interacoes">CRM</a></li>
                        <li><a data-toggle="tab" href="#menu3">Orçamentos</a></li>
                        <li><a data-toggle="tab" href="#menu4">Eventos</a></li>
                    </ul>

                    <?php
                    $variaveisTabs = array('id_cliente' => $this->id_cliente, 'id_clienteinteressado' => $this->id_clienteinteressado);
                    ?>
                    <div class="tab-content border-tab">
                        <div id="geral" class="tab-pane fade in active">
                            <?= $this->render("admin/cliente/tab-geral.phtml", $variaveisTabs) ?>
                        </div>
                        <div id="emails-telefones" class="tab-pane fade">
                            <?= $this->render("admin/cliente/tab-telefone-email.phtml", $variaveisTabs) ?>
                        </div>
                        <div id="enderecos" class="tab-pane fade">
                            <?= $this->render("admin/cliente/tab-enderecos.phtml", $variaveisTabs) ?>
                        </div>
                        <?php
                        $possuiPermissaoInteracaoCadastrar = (new Base\Service\Tbusuariotenantpermissao())->possuiPermissao('incluir-interacao-crm-interessado', null, 'I|A');
                        $possuiPermissaoInteracaoExcluir = (new Base\Service\Tbusuariotenantpermissao())->possuiPermissao('excluir-interacao-crm-interessado', null, 'E');
                        $possuiPermissaoInteracaoVisualizar = (new Base\Service\Tbusuariotenantpermissao())->possuiPermissao('visualizar-interacao-crm-interessado', null, 'V');
                        if ($possuiPermissaoInteracaoCadastrar || $possuiPermissaoInteracaoExcluir || $possuiPermissaoInteracaoVisualizar) {
                            ?>
                            <div id="interacoes" class="tab-pane fade">
                                <?php if (!empty($this->id_cliente)) { ?>
                                    <?= $this->render("admin/crm-interessado/tab-interacoes.phtml", $variaveisTabs) ?>
                                <?php } else { ?>
                                    <p>
                                        É preciso salvar o cliente primeiro para poder adicionar interações com o mesmo.
                                    </p>
                                <?php } ?>
                            </div>
                        <?php } ?>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    $("#btnSalvar").click(function () {
        $(".htmlModeloAdd :input").attr("disabled", "disabled");
        $("#validate").submit();
        $(".htmlModeloAdd :input").removeAttr("disabled");
    });
    formValidate("#validate");
</script>