<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Painel de controle</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Quick Example</h3>
        </div>
        <div class="box-body">
            asdsad
        </div>

        <div class="box-footer">
            asad
        </div>
    </div>
</section>