<?php
$tx_controller = $this->layout()->getVariable('controller');

$content_only = $this->layout()->getVariable('content_only');
if ($content_only == 'S') {
    $content_only = true;
} else {
    $content_only = false;
}

if (empty($this->renderButtons)) {
    /*
     * N -> NOVO
     * S -> SALVAR
     * L -> LISTAGEM
     */
    $this->renderButtons = array("N", "S", "L");
}
$renderButtons = $this->renderButtons;

if (!$this->layout()->getVariable('possuiPermissaoCadastrar')) {
    if (in_array('N', $renderButtons)) {
        $key = array_search('N', $renderButtons);
        unset($renderButtons[$key]);
    }
    if (in_array('S', $renderButtons)) {
        $key = array_search('S', $renderButtons);
        unset($renderButtons[$key]);
    }
}
?>

<?php if (in_array('N', $renderButtons)) { ?>
    <a href="<?= $this->serverUrl("/admin/" . $tx_controller . "/formulario") ?>" class="btn btn-primary btn-sm">
        <i class="fa fa-plus-circle"></i>
        Novo
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
<?php } ?>
<?php if (in_array('S', $renderButtons)) {
    ?>
    <button class="btn btn-success btn-sm" id="btnSalvar">
        <i class="fa fa-save"></i>
        Salvar
    </button>

    &nbsp;&nbsp;&nbsp;&nbsp;
<?php } ?>
<?php if (in_array('L', $renderButtons)) { ?>
    <a href="<?= $this->serverUrl("/admin/" . $tx_controller . "/index") ?>" class="btn btn-primary btn-sm">
        <i class="fa fa-list"></i>
        Listagem
    </a>
<?php } ?>