<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <?php
        echo $this->layout()->getVariable('tituloPagina');
        ?>
        <!--Usuários-->
        <small><?php echo $this->layout()->getVariable('subTituloPagina'); ?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin/inicio"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            <?php
            echo $this->layout()->getVariable('tituloPagina');
            ?>
        </li>
    </ol>
</section>

