<div class="container">    
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
                <!--<div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>-->
            </div>

            <div style="padding-top:30px" class="panel-body" >

                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <form class="form-horizontal" id="validate" action="<?= $this->url() ?>site/verifica-login">

                    <div class="form-group col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="usuario" type="text" class="form-control validate-email required" name="username" value="" placeholder="username or email">                                        
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control required" name="password" placeholder="password">
                        </div>
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <button id="btn-login" type="button" class="btn btn-success">Login</button>
                            <a id="btn-fblogin" onClick="logInWithFacebook()" class="btn btn-primary">Login with Facebook</a>
                        </div>
                    </div>

                    <script>

                        logInWithFacebook = function () {
                            FB.login(function (response) {
                                if (response.authResponse) {
                                    FB.api('/me', {fields: ['email', 'first_name', 'middle_name', 'last_name']}, function (response) {
                                        $.post("<?= $this->url() ?>site/login-fb", response, function (r) {
                                            r = $.parseJSON(r);

                                            if (r.type === 'success') {
                                                openMsg('Sucesso', r.message, r.type, true, 'Fechar');

                                                swal.showLoading();

                                                setTimeout(function () {
                                                    window.location = "<?= $this->url() ?>admin/index";
                                                }, 2000);
                                            } else {
                                                openMsg('Ops', r.message, r.type, true, 'Fechar');
                                            }
                                        });
                                    });
                                    // Now you can redirect the user or do an AJAX request to
                                    // a PHP script that grabs the signed request from the cookie.
                                } else {
                                    alert('Usuário cancelou o login ou não forneceu autorização completa.');
                                }
                            }, {scope: 'email'});
                            return false;
                        };
                        window.fbAsyncInit = function () {
                            FB.init({
                                appId: '362155650898636',
                                cookie: true, // This is important, it's not enabled by default
                                version: 'v2.2'
                            });


                        };
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) {
                                return;
                            }
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/en_US/sdk.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));




                    </script>


                    <script>
                        $(function () {
                            $("#validate").keydown(function (e) {
                                if (e.keyCode == 13) {
                                    $("#btn-login").click();
                                    return false;
                                }
                            });


//                            $("#validate").validate({
//                                rules: {
//                                    'username': {
//                                        required: true,
//                                        maxlength: 255,
//                                    },
//                                }
//                            });

//                            $("#validate").validate({
//                                rules: {
//                                    'username': {
//                                        required: true,
//                                        maxlength: 255,
//                                    },
//                                    'password': {
//                                        required: true,
//                                        maxlength: 100
//                                    }
//                                },
//                                submitHandler: function (form) {
//                                    return false; // required to block normal submit since you used ajax
//                                }
//                            });


                            $("#btnCadastrar").click(function () {
                                formDefault("#formCadastrar", "<?= $this->url() ?>admin/index");
                            });

                            $("#btn-login").click(function () {
                                formDefault("#validate", "<?= $this->url() ?>admin/index");
                            });
                        });
                    </script>
                </form>
            </div>                     
        </div>  
    </div>
</div>