<?= $this->render("admin/partials/header.phtml") ?>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <?= $this->render("admin/partials/botoes.phtml") ?>
        </div>
        <div class="box-body">
            <form class="form-horizontal populate" id="validate" action="<?= $this->serverUrl("/admin/funcionario/salvar") ?>" method="post">
                <input type="hidden" name="funcionario[id_funcionario]" />
                <div class="box-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#geral">
                                <i class="fa fa-bookmark"></i>
                                Informações Gerais
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#emails-telefones"> 
                                <i class="fa fa-phone-square"></i>
                                E-mails/Telefones
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#enderecos">
                                <i class="fa fa-address-card"></i>
                                Endereços
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#salario">
                                <i class="fa fa-dollar"></i>
                                Salário
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#registro">
                                <i class="fa fa-newspaper-o"></i>
                                Registro do Empregado
                            </a>
                        </li>
                    </ul>

                    <?php
                    $variaveisTabs = array(
                        'id_funcionario' => $this->id_funcionario,
                        'dependentes' => $this->dependentes,
                        'ferias' => $this->ferias,
                        'afastamentos' => $this->afastamentos
                    );
                    ?>
                    <div class="tab-content border-tab">
                        <div id="geral" class="tab-pane fade  in active">
                            <?= $this->render("admin/funcionario/tab-geral.phtml", $variaveisTabs) ?>
                        </div>
                        <div id="emails-telefones" class="tab-pane fade">
                            <?= $this->render("admin/funcionario/tab-telefone-email.phtml", $variaveisTabs) ?>
                        </div>
                        <div id="enderecos" class="tab-pane fade">
                            <?= $this->render("admin/funcionario/tab-enderecos.phtml", $variaveisTabs) ?>
                        </div>
                        <div id="salario" class="tab-pane fade">
                            <?= $this->render("admin/funcionario/salario.phtml", $variaveisTabs) ?>
                        </div>
                        <div id="registro" class="tab-pane fade">
                            <?= $this->render("admin/funcionario/registro-empregado.phtml", $variaveisTabs) ?>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    $("#btnSalvar").click(function () {
        $(".htmlModeloAdd :input").attr("disabled", "disabled");
        $("#validate").submit();
        $(".htmlModeloAdd :input").removeAttr("disabled");
    });
    formValidate("#validate");
</script>