<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <?php
        echo $this->layout()->getVariable('tituloPagina');
        ?>
        <!--Usuários-->
        <small><?php echo $this->layout()->getVariable('subTituloPagina'); ?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin/inicio"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            <?php
            echo $this->layout()->getVariable('tituloPagina');
            ?>
        </li>
    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <?= $this->render("admin/partials/botoes.phtml", array('renderButtons' => array('N'))) ?>
        </div>
        <div class="box-body">

            <table class="table table-hover" id="tableClientes">
                <thead>
                    <tr>
                        <th style="width:20px">Editar</th>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Dt. Nasc.</th>
                        <th>CPF</th>
                        <th style="width:20px">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <?php

                    foreach ($this->funcionarios as $funcionario) {
                        ?>
                        <tr>
                            <td>
                                <?php if ($this->layout()->getVariable('possuiPermissaoCadastrar')) { ?>
                                    <a href="<?= $this->serverUrl("/admin/funcionario/formulario?id=") . $funcionario['id_funcionario'] ?>" class="btn btn-sm btn-success" data-toggle="tooltip" title="Editar">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                <?php } else if ($this->layout()->getVariable('possuiPermissaoVisualizar')) {
                                    ?>
                                    <a href="<?= $this->serverUrl("/admin/funcionario/formulario?id=") . $funcionario['id_funcionario'] ?>" class="btn btn-sm btn-primary" data-toggle="tooltip" title="Visualizar">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <?php
                                }
                                ?>
                            </td>
                            <td><?= $funcionario['id_funcionario'] ?></td>
                            <td><?= $funcionario['tx_nome'] ?></td>
                            <td><?= (new \Base\Controller\BaseController())->reverseDate($funcionario['dt_nascimento']) ?></td>
                            <td><?= $funcionario['tx_cpf'] ?></td>
                            <td>
                                <?php if ($this->layout()->getVariable('possuiPermissaoExcluir')) { ?>
                                    <button class="btn btn-sm btn-danger" data-toggle="tooltip" title="Excluir" type="button" onclick="removeCliente(this, '<?= $funcionario['id_funcionario'] ?>', '<?= $funcionario['tx_nome'] ?>')">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                <?php } ?>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
                <tfoot>
                    <tr>
                        <th style="width:20px">Editar</th>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Login</th>
                        <th style="width:20px">Excluir</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <script>
            __initDataTable("#tableClientes");
<?php if ($this->layout()->getVariable('possuiPermissaoExcluir')) { ?>
                function removeCliente(obj, id, nomefuncionario) {
                    msg = "Tem certeza que deseja excluir o funcionário '" + nomefuncionario + "'.";
                    removeData("Esta ação pode ser irreversível!", msg, 'question', obj, '/admin/funcionario/remover-funcionario?id=' + id);
                }
<?php } ?>
        </script>
    </div>
</section>