<style>
    thead{
        font-weight: bold
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        Dependentes
    </div>
    <div class="panel-body">
        <table class="table table-responsive" id="tabela-dependentes">
            <thead>
                <tr>
                    <td colspan="4" style="text-align: center">
                        <b>
                            DEPENDENTES
                        </b>
                    </td>
                </tr>
                <tr>
                    <td>Nome</td>
                    <td>Parentesco</td>
                    <td style="width:150px">Dt. Nascimento</td>
                    <td style="width:50px">&nbsp;</td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <button type="button" class="btn btn-primary btn-block" onclick="addLine('#tabela-dependentes')">
            <i class="fa fa-plus-circle"></i>
            Adicionar
        </button>
    </div>
</div>
<?php
$arrParentesco = (new \Base\Service\Tbfuncionario())->getParentescos();
?>
<script>
    var arrParentesco = <?= json_encode($arrParentesco) ?>;

    function addLine(table_id) {
        var htmlTrModelo = "";
        htmlTrModelo += "<tr>";
        htmlTrModelo += "<td>";
        htmlTrModelo += "<input type=\"text\" data-validetta=\"required\" id=\"dependentes-tx_nome\" class=\"form-control\" name=\"dependentes[tx_nome][]\">";
        htmlTrModelo += "</td>";
        htmlTrModelo += "<td>";

        htmlTrModelo += "<select name=\"dependentes[tx_parentesco][]\" id=\"dependentes-tx_parentesco\" class=\"form-control\">";

        $.each(arrParentesco, function (k, v) {
            htmlTrModelo += "<option value='" + k + "' label='" + v + "' title='" + v + "'>" + v + "<\/option>";
        });

        htmlTrModelo += "<\/select>";
        htmlTrModelo += "                    <\/td>";
        htmlTrModelo += "                    <td>";
        htmlTrModelo += "                        <div class=\"form-group\">";
        htmlTrModelo += "                            <div class=\"col-md-12\">";
        htmlTrModelo += "                                <input type=\"text\" data-validetta=\"required\" class=\"form-control date\" name=\"dependentes[dt_nascimento][]\" id=\"dependentes-dt_nascimento\" placeholder=\"Data de Nascimento\">";
        htmlTrModelo += "                            <\/div>";
        htmlTrModelo += "                        <\/div>";
        htmlTrModelo += "                    <\/td>";
        htmlTrModelo += "                    <td style=\"text-align: center\">";
        htmlTrModelo += "                        <button class=\"btn btn-danger\" type=\"button\" onclick=\"$(this).closest('tr').remove()\">";
        htmlTrModelo += "                            <i class=\"fa fa-remove\"><\/i>";
        htmlTrModelo += "                        <\/button>";
        htmlTrModelo += "                    <\/td>";
        htmlTrModelo += "                <\/tr>";

        $(table_id).find('tbody').append(htmlTrModelo);
        _initDatePicker();
    }

    $(function () {
<?php
if (!empty($this->dependentes)) {
    ?>
            dependentes = <?= $this->dependentes ?>;
            $.each(dependentes, function (k, v) {
                addLine('#tabela-dependentes');
                $("#tabela-dependentes tr:last").find('#dependentes-tx_nome').val(v.tx_nome);
                $("#tabela-dependentes tr:last").find('#dependentes-tx_parentesco').val(v.tx_parentesco);
                $("#tabela-dependentes tr:last").find('#dependentes-dt_nascimento').val(reverseDate(v.dt_nascimento));
            });

            _initMask();
    <?php
}
?>
    })
</script>


<div class="panel panel-primary">
    <div class="panel-heading">
        Férias
    </div>
    <div class="panel-body">
        <table class="table table-responsive" id="tabela-ferias">
            <thead>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <b>
                            FÉRIAS
                        </b>
                    </td>
                </tr>
                <tr>
                    <td>
                        Inicio
                    </td>
                    <td>
                        Fim
                    </td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <button type="button" class="btn btn-primary btn-block" onclick="addLineFerias('#tabela-ferias')">
            <i class="fa fa-plus-circle"></i>
            Adicionar
        </button>
    </div>
</div>

<script>
    function addLineFerias(table_id) {
        var htmlFerias = "";
        htmlFerias += "<tr>";
        htmlFerias += "                    <td>";
        htmlFerias += "                        <div class=\"form-group\">";
        htmlFerias += "                            <div class=\"col-md-12\">";
        htmlFerias += "                                <input type=\"text\" data-validetta=\"required\" class=\"form-control date\" name=\"ferias[dt_inicio][]\" id=\"ferias-dt_inicio\">";
        htmlFerias += "                            <\/div>";
        htmlFerias += "                        <\/div>";
        htmlFerias += "                    <\/td>";
        htmlFerias += "                    <td>";
        htmlFerias += "                        <div class=\"form-group\">";
        htmlFerias += "                            <div class=\"col-md-12\">";
        htmlFerias += "                                <input type=\"text\" data-validetta=\"required\" class=\"form-control date\" name=\"ferias[dt_fim][]\" id=\"ferias-dt_fim\">";
        htmlFerias += "                            <\/div>";
        htmlFerias += "                        <\/div>";
        htmlFerias += "                    <\/td>";
        htmlFerias += "                <\/tr>";

        $(table_id).find('tbody').append(htmlFerias);
        _initDatePicker();
    }

    $(function () {
<?php
if (!empty($this->ferias)) {
    ?>
            ferias = <?= $this->ferias ?>;
            $.each(ferias, function (k, v) {
                addLineFerias('#tabela-ferias');
                $("#tabela-ferias tr:last").find('#ferias-dt_inicio').val(reverseDate(v.dt_inicio));
                $("#tabela-ferias tr:last").find('#ferias-dt_fim').val(reverseDate(v.dt_fim));
            });

            _initMask();
    <?php
}
?>
    });
</script>



<div class="panel panel-primary">
    <div class="panel-heading">
        Afastamentos
    </div>
    <div class="panel-body">
        <table class="table table-responsive" id="tabela-afastamentos">
            <thead>
                <tr>
                    <td colspan="3" style="text-align: center">
                        <b>
                            AFASTAMENTOS
                        </b>
                    </td>
                </tr>
                <tr>
                    <td>
                        Inicio
                    </td>
                    <td>
                        Fim
                    </td>
                    <td>
                        Motivo
                    </td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <button type="button" class="btn btn-primary btn-block" onclick="addLineAfastamentos('#tabela-afastamentos')">
            <i class="fa fa-plus-circle"></i>
            Adicionar
        </button>
    </div>
</div>

<script>
    function addLineAfastamentos(table_id) {
        var htmlFerias = "";
        htmlFerias += "<tr>";
        htmlFerias += "                    <td>";
        htmlFerias += "                        <div class=\"form-group\">";
        htmlFerias += "                            <div class=\"col-md-12\">";
        htmlFerias += "                                <input type=\"text\" data-validetta=\"required\" class=\"form-control date\" name=\"afastamentos[dt_inicio][]\" id=\"afastamentos-dt_inicio\">";
        htmlFerias += "                            <\/div>";
        htmlFerias += "                        <\/div>";
        htmlFerias += "                    <\/td>";
        htmlFerias += "                    <td>";
        htmlFerias += "                        <div class=\"form-group\">";
        htmlFerias += "                            <div class=\"col-md-12\">";
        htmlFerias += "                                <input type=\"text\" data-validetta=\"required\" class=\"form-control date\" name=\"afastamentos[dt_fim][]\" id=\"afastamentos-dt_fim\">";
        htmlFerias += "                            <\/div>";
        htmlFerias += "                        <\/div>";
        htmlFerias += "                    <\/td>";
        htmlFerias += "                    <td>";
        htmlFerias += "                        <div class=\"form-group\">";
        htmlFerias += "                            <div class=\"col-md-12\">";
        htmlFerias += "                                <input type=\"text\" data-validetta=\"required\" class=\"form-control\" name=\"afastamentos[tx_motivo][]\" id=\"afastamentos-tx_motivo\">";
        htmlFerias += "                            <\/div>";
        htmlFerias += "                        <\/div>";
        htmlFerias += "                    <\/td>";
        htmlFerias += "                <\/tr>";

        $(table_id).find('tbody').append(htmlFerias);
        _initDatePicker();
    }

    $(function () {
<?php
if (!empty($this->afastamentos)) {
    ?>
            ferias = <?= $this->afastamentos ?>;
            $.each(ferias, function (k, v) {
                addLineAfastamentos('#tabela-afastamentos');
                $("#tabela-afastamentos tr:last").find('#afastamentos-dt_inicio').val(reverseDate(v.dt_inicio));
                $("#tabela-afastamentos tr:last").find('#afastamentos-dt_fim').val(reverseDate(v.dt_fim));
                $("#tabela-afastamentos tr:last").find('#afastamentos-tx_motivo').val(v.tx_motivo);
            });

            _initMask();
    <?php
}
?>
    });
</script>