<div class="panel panel-primary">
    <div class="panel-heading">
        Dados da Conta para Pagamento do Salário
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">Salário:</label>
            <div class="col-sm-3">
                <input type="text" name="funcionario[vl_salario]" id="funcionario-vl_salario" class="form-control decimal">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Banco:</label>
            <div class="col-sm-3" style="padding-left: 15px;">
                <input type="text" name="funcionario[tx_banco]" id="funcionario-tx_banco" class="form-control">
            </div> 
        </div> 
        <div class="form-group">
            <label class="col-sm-2 control-label">Agência:</label>
            <div class="col-sm-3">
                <input type="text" name="funcionario[tx_agencia]" id="funcionario-tx_agencia" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Conta para Depósito:</label>
            <div class="col-sm-3">
                <input type="text" name="funcionario[tx_conta]" id="funcionario-tx_conta" class="form-control">
            </div>
        </div>
    </div>
</div>