<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Telefones
            </div>
            <div class="panel-body">
                <div class='padraoTelefone htmlModeloAdd' style="display: none">
                    <div class="form-group">
                        <label class="control-label col-sm-1 text-right">
                            Tel:
                        </label>
                        <div class="col-sm-5">
                            <input type="text" data-validetta="required" name="funcionario-telefone[tx_telefones][]" class="form-control tx_telefone telefone" />
                        </div>
                        <div class="col-sm-4">
                            <?php
                            $arrTiposTelefone = (new Base\Service\Tbfuncionariotelefone)->getArrTiposTelefones();
                            ?>
                            <select data-validetta="required" class="form-control tx_tipo" name="funcionario-telefone[tx_tipo][]">
                                <?php foreach ($arrTiposTelefone as $value => $tipoTel) { ?>
                                    <option value="<?= $value ?>" ><?= $tipoTel ?></option>
                                <?php } ?>
                            </select>
                        </div>
                        <div class="col-sm-2 text-center" style="line-height: 30px">
                            <button class="btn btn-xs btn-danger" type="button" onclick="$(this).closest('.form-group').remove()" data-toggle="tooltip" title="Remover">
                                <i class="fa fa-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class='addTelefones'></div>

                <button class='btn btn-success btn-sm btn-block' type='button' onclick='addNumero()'>
                    <i class='fa fa-plus'></i> Adicionar número
                </button>
            </div>
            <?php
            $telefonesJson = json_encode(array());
            if (!empty($this->id_funcionario)) {
                $telefones = (new Base\Service\Tbfuncionariotelefone())->fetchAll(array('id_funcionario' => $this->id_funcionario));
                $telefonesJson = json_encode($telefones);
            }
            ?>
            <script>
                var telefonesJson = <?= $telefonesJson ?>;

                function addNumero() {
                    htmlTel = $(".padraoTelefone").html();
                    $('.addTelefones').append(htmlTel);
                    _initMask();
                }

                $(function () {
                    $.each(telefonesJson, function (k, data) {
                        addNumero();
                        $(".tx_telefone:last").val(data.tx_telefone);
                        $(".tx_tipo:last").val(data.tx_tipo);
                    });
                })
            </script>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                E-mails
            </div>
            <div class="panel-body">
                <div class='padraoEmail htmlModeloAdd' style="display: none">
                    <div class="form-group">
                        <label class="control-label col-sm-2">
                            E-mail:
                        </label>
                        <div class="col-sm-8">
                            <input type="text" data-validetta='email,required' name="funcionario-email[tx_email][]" class="form-control email tx_email" />
                        </div>
                        <div class="col-sm-2 text-center" style="line-height: 30px">
                            <button class="btn btn-xs btn-danger" type="button" onclick="$(this).closest('.form-group').remove()" data-toggle="tooltip" title="Remover">
                                <i class="fa fa-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class='addEmails'></div>

                <button class='btn btn-success btn-sm btn-block' type='button' onclick='addEmail()'>
                    <i class='fa fa-plus'></i> Adicionar e-mail
                </button>
            </div>

            <?php
            $emailsJson = json_encode(array());
            if (!empty($this->id_funcionario)) {
                $emails = (new Base\Service\Tbfuncionarioemail())->fetchAll(array('id_funcionario' => $this->id_funcionario));
                $emailsJson = json_encode($emails);
            }
            ?>
            <script>
                var emailaJson = <?= $emailsJson ?>;

                function addEmail() {
                    htmlTel = $(".padraoEmail").html();
                    $('.addEmails').append(htmlTel);
                    _initMask();
                    _initToolTip();
                }


                $(function () {
                    $.each(emailaJson, function (k, data) {
                        addEmail();
                        $(".tx_email:last").val(data.tx_email);
                    });
                })
            </script>
        </div>
    </div>
</div>