<input type="hidden" name="funcionario[id_funcionario]" value='<?= $this->id_usuariofuncionario ?>' />

<div class="form-group">
    <label class="col-sm-2 control-label">Nome:</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" data-validetta='required' name="funcionario[tx_nome]" id="funcionario-tx_nome" placeholder="Nome">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Sexo:</label>
    <div class="col-sm-2">
        <select class="form-control" name="funcionario[tx_sexo]">
            <option></option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Dt. Nascimento:</label>
    <div class="col-sm-2">
        <input type="text" class="form-control date" name="funcionario[dt_nascimento]" id="funcionario-dt_nascimento" placeholder="Data de Nascimento">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Tipo Pessoa:</label>
    <div class="col-sm-4">
        <input type="radio" name="funcionario[st_tipopessoa]" value="F" checked="checked" class='st_tipopessoa' data-validetta="required"> Física
        <input type="radio" name="funcionario[st_tipopessoa]" value="J" class='st_tipopessoa' data-validetta="required"> Jurídica
    </div>
</div>
<script>
    $(".st_tipopessoa").click(function () {
        st_tipopessoa = $(this).val();
        if (st_tipopessoa == 'F') {
            $(".div_pessoa_fisica").show();
            $(".div_pessoa_juridica").hide();
        } else {
            $(".div_pessoa_juridica").show();
            $(".div_pessoa_fisica").hide();
        }
    });
    $(function () {
        $(".st_tipopessoa:checked").click();
    })
</script>

<div class="form-group div_pessoa_fisica">
    <label class="col-sm-2 control-label">CPF:</label>
    <div class="col-sm-3">
        <input type="text" class="form-control cpf" name="funcionario[tx_cpf]" id="funcionario-tx_cpf" placeholder="CPF">
    </div>
    <label class="col-sm-1 control-label">RG:</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" name="funcionario[tx_rg]" id="funcionario-tx_rg" placeholder="RG">
    </div>
</div>

<div class="form-group div_pessoa_juridica">
    <label class="col-sm-2 control-label">CNPJ:</label>
    <div class="col-sm-3">
        <input type="text" class="form-control cnpj" name="funcionario[tx_cnpj]" id="funcionario-tx_cnpj" placeholder="CNPJ">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Observações:</label>
    <div class="col-sm-6">
        <textarea class="form-control" rows='5' name="funcionario[tx_observacao]" id='funcionario-tx_observacao'></textarea>        
    </div>
</div>

<script>
    _initDatePicker();
</script>