<?php
$clienteVinculadoCrm = array();

if (!empty($this->id_clienteinteressado)) {
    $clienteVinculadoCrm = current((new Base\Service\Tbcliente)->fetchAll(array(
                'id_clienteinteressado' => $this->id_clienteinteressado
    )));
    if (!empty($clienteVinculadoCrm)) {
        $this->renderButtons = array('L');
        ?>
        <script>
            $(function () {
                $("input, select, textarea, button").prop('disabled', true);
            })
        </script>
        <?php
    }
}
?>

<?= $this->render("admin/partials/header.phtml") ?>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <?= $this->render("admin/partials/botoes.phtml") ?>
        </div>
        <div class="box-body">
            <form class="form-horizontal populate" id="validate" action="<?= $this->serverUrl("/admin/crm-interessado/salvar") ?>" method="post">
                <input type="hidden" name="clienteInteressado[id_clienteinteressado]" />
                <div class="box-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#geral">
                                <i class="fa fa-bookmark"></i>
                                Informações Gerais
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#emails-telefones"> 
                                <i class="fa fa-phone-square"></i>
                                E-mails/Telefones
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#enderecos">
                                <i class="fa fa-address-card"></i>
                                Endereços
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#interacoes">
                                <i class="fa fa-comment"></i>
                                Interações
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content border-tab">
                        <div id="geral" class="tab-pane fade in active">
                            <?= $this->render("admin/crm-interessado/tab-geral.phtml", array('clienteVinculadoCrm' => $clienteVinculadoCrm, 'id_clienteinteressado' => $this->id_clienteinteressado)) ?>
                        </div>
                        <div id="emails-telefones" class="tab-pane fade">
                            <?= $this->render("admin/crm-interessado/tab-telefone-email.phtml", array('id_clienteinteressado' => $this->id_clienteinteressado)) ?>
                        </div>
                        <div id="enderecos" class="tab-pane fade">
                            <?= $this->render("admin/crm-interessado/tab-enderecos.phtml", array('id_clienteinteressado' => $this->id_clienteinteressado)) ?>
                        </div>
                        <?php
                        $possuiPermissaoInteracaoCadastrar = (new Base\Service\Tbusuariotenantpermissao())->possuiPermissao('incluir-interacao-crm-interessado', null, 'I|A');
                        $possuiPermissaoInteracaoExcluir = (new Base\Service\Tbusuariotenantpermissao())->possuiPermissao('excluir-interacao-crm-interessado', null, 'E');
                        $possuiPermissaoInteracaoVisualizar = (new Base\Service\Tbusuariotenantpermissao())->possuiPermissao('visualizar-interacao-crm-interessado', null, 'V');
                        if ($possuiPermissaoInteracaoCadastrar || $possuiPermissaoInteracaoExcluir || $possuiPermissaoInteracaoVisualizar) {
                            ?>
                            <div id="interacoes" class="tab-pane fade">
                                <?php if (!empty($this->id_clienteinteressado)) { ?>
                                    <?= $this->render("admin/crm-interessado/tab-interacoes.phtml", array('clienteVinculadoCrm' => $clienteVinculadoCrm, 'id_clienteinteressado' => $this->id_clienteinteressado)) ?>
                                <?php } else { ?>
                                    <p>
                                        É preciso salvar o cliente primeiro para poder adicionar interações com o mesmo.
                                    </p>
                                <?php } ?>
                            </div>
                        <?php } ?>
                        <div id="menu2" class="tab-pane fade">
                            <h3>Menu 2</h3>
                            <p>Some content in menu 2.</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    $("#btnSalvar").click(function () {
        $(".htmlModeloAdd :input").attr("disabled", "disabled");
        $("#validate").submit();
        $(".htmlModeloAdd :input").removeAttr("disabled");
    });
    formValidate("#validate");
</script>