<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <?php
        echo $this->layout()->getVariable('tituloPagina');
        ?>
        <!--Usuários-->
        <small><?php echo $this->layout()->getVariable('subTituloPagina'); ?></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin/inicio"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">
            <?php
            echo $this->layout()->getVariable('tituloPagina');
            ?>
        </li>
    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <?= $this->render("admin/partials/botoes.phtml", array('renderButtons' => array('N'))) ?>
        </div>
        <div class="box-body">

            <table class="table table-hover" id="tableClientes">
                <thead>
                    <tr>
                        <th style="width:20px">Editar</th>
                        <th style="width:20px">Interações</th>
                        <th style="width:20px">Código</th>
                        <th>Nome</th>
                        <th style="width: 60px">Dt. Nasc.</th>
                        <th style="width: 80px">CPF</th>
                        <th style="width:20px">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    $possuiPermissaoInteracaoCadastrar = (new Base\Service\Tbusuariotenantpermissao())->possuiPermissao('incluir-interacao-crm-interessado', null, 'I|A');
                    $possuiPermissaoInteracaoExcluir = (new Base\Service\Tbusuariotenantpermissao())->possuiPermissao('excluir-interacao-crm-interessado', null, 'E');
                    $possuiPermissaoInteracaoVisualizar = (new Base\Service\Tbusuariotenantpermissao())->possuiPermissao('visualizar-interacao-crm-interessado', null, 'V');


                    $possuiPermissaoBotaoTimeline = false;
                    if ($possuiPermissaoInteracaoCadastrar || $possuiPermissaoInteracaoExcluir || $possuiPermissaoInteracaoVisualizar) {
                        $possuiPermissaoBotaoTimeline = true;
                    }

                    foreach ($this->clientes as $cliente) {
                        ?>
                        <tr>
                            <td>
                                <?php if ($this->layout()->getVariable('possuiPermissaoCadastrar')) { ?>
                                    <a href="<?= $this->serverUrl("/admin/crm-interessado/formulario?id=") . $cliente['id_clienteinteressado'] ?>" class="btn btn-sm btn-success" data-toggle="tooltip" title="Editar">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                <?php } else if ($this->layout()->getVariable('possuiPermissaoVisualizar')) {
                                    ?>
                                    <a href="<?= $this->serverUrl("/admin/crm-interessado/formulario?id=") . $cliente['id_clienteinteressado'] ?>" class="btn btn-sm btn-primary" data-toggle="tooltip" title="Visualizar">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <?php
                                }
                                ?>
                            </td>
                            <?php
                            if ($possuiPermissaoBotaoTimeline) {
                                $interacoes = (new Base\Service\Tbinteracaoclienteinteressado())->fetchAll(array('id_clienteinteressado' => $cliente['id_clienteinteressado']));
                                ?>
                                <td style="text-align: center">
                                    <button class="btn btn-xs btn-primary" type="button" onclick="openTimeLine('<?= $cliente['id_clienteinteressado'] ?>')">
                                        <?= count($interacoes); ?>
                                    </button>
                                </td>
                                <?php
                            }
                            ?>
                            <td><?= $cliente['id_clienteinteressado'] ?></td>
                            <td><?= $cliente['tx_nome'] ?></td>
                            <td><?= (new \Base\Controller\BaseController())->reverseDate($cliente['dt_nascimento']) ?></td>
                            <td><?= $cliente['tx_cpf'] ?></td>
                            <td>
                                <?php if ($this->layout()->getVariable('possuiPermissaoExcluir') && empty($cliente['id_cliente'])) { ?>
                                    <button class="btn btn-sm btn-danger" data-toggle="tooltip" title="Excluir" type="button" onclick="removeCliente(this, '<?= $cliente['id_clienteinteressado'] ?>', '<?= $cliente['tx_nome'] ?>')">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                <?php } else if (!empty($cliente['id_cliente'])) { ?>
                                    <button class="btn btn-sm btn-primary" data-toggle="tooltip" title="Desvíncular interessado do cliente" type="button" onclick="desvincularCrm('<?= $cliente['id_clienteinteressado'] ?>')">
                                        <i class="fa fa-unlink"></i>
                                    </button>
                                <?php } ?>
                            </td>
                        </tr>
                    <?php } ?>
                </tbody>
                <tfoot>
                    <tr>
                        <th style="width:20px">Editar</th>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Login</th>
                        <th style="width:20px">Excluir</th>
                    </tr>
                </tfoot>
            </table>
        </div>



        <script>
            __initDataTable("#tableClientes");
<?php if ($this->layout()->getVariable('possuiPermissaoExcluir')) { ?>
                function removeCliente(obj, id, nomecliente) {
                    msg = "Tem certeza que deseja excluir o cliente interessado '" + nomecliente + "'.";
                    removeData("Esta ação pode ser irreversível!", msg, 'question', obj, '/admin/crm-interessado/remover-cliente-interessado?id=' + id);
                }

<?php } ?>

            _globalModal();

//            function openTimeLine(id_clienteinteressado) {
//                console.log(id_clienteinteressado);
//            }

            function desvincularCrm(id) {
                swal({
                    title: "Desvíncular interessado do cadastro do cliente?",
                    text: "Tem certeza que deseja desvíncular o interessado do cadastro de cliente?",
                    type: "question",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim',
                    cancelButtonText: 'Não'
                }).then(function (result) {
                    if (result.value) {
                        swal({
                            title: "Remover o cadastro como cliente?",
                            text: "Remover o cadastro criado como cliente deste interessado?",
                            type: "question",
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Sim',
                            cancelButtonText: 'Não'
                        }).then((result2) => {
                            removerCadastroComoCliente = '';
                            if (result2.value) {
                                removerCadastroComoCliente = 'S';
                            } else if (result2.dismiss === 'cancel') {
                                removerCadastroComoCliente = 'N';
                            }

                            OpenMsgAguarde();
                            $.ajax({
                                url: "/admin/crm-interessado/desvincular-cliente-interessado?id=" + id + '&apagarCliente=' + removerCadastroComoCliente,
                                dataType: 'json',
                                success: function (r) {
                                    if (r.type == 'success') {
                                        title = 'Sucesso';
                                    } else {
                                        title = 'Ops';
                                    }
                                    swal({
                                        title: title,
                                        text: r.message,
                                        type: r.type
                                    }).then(function () {
                                        location.reload();
                                    });
                                },
                                complete: function () {
                                    CloseMsgAguarde();
                                }
                            });
                        });
                    }
                }).catch(swal.noop);
            }

        </script>
    </div>
</section>
