<input type="hidden" name="clienteInteressado[id_clienteinteressado]" value='<?= $this->id_clienteinteressado ?>' />


<?php
if (!empty($this->id_clienteinteressado)) {
    $cliente = $this->clienteVinculadoCrm;
    if (empty($cliente)) {
        ?>

        <script>

            function transformarEmCliente(id) {
                swal({
                    title: "Transformar em cliente",
                    text: "Tem certeza que deseja criar este cadastro como cliente?",
                    type: "question",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim',
                    cancelButtonText: 'Não'
                }).then(function (result) {
                    if (result.value) {
                        OpenMsgAguarde();
                        $.ajax({
                            url: "/admin/crm-interessado/criar-cliente-baseado-interessado?id=" + id,
                            dataType: 'json',
                            success: function (r) {
                                if (r.type == 'success') {
                                    title = 'Sucesso';
                                } else {
                                    title = 'Ops';
                                }
                                swal({
                                    title: title,
                                    text: r.message,
                                    type: r.type
                                }).then(function () {
                                    location.reload();
                                });
                            },
                            complete: function () {
                                CloseMsgAguarde();
                            }
                        });
                    }
                });
            }
        </script>
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-sm-10">
                <button class="btn btn-sm btn-success" type="button" onclick="transformarEmCliente(<?= $this->id_clienteinteressado ?>)">
                    <i class="fa fa-user"></i>
                    Transformar em cliente
                </button>
            </div>
        </div>
        <?php
    } else {
        ?>
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-sm-2">
                <a href="<?= '/admin/cliente/formulario?id=' . $cliente['id_cliente'] ?>" class="btn btn-sm btn-primary" target="_blank">
                    <i class="fa fa-eye"></i>
                    Ver cadastro do cliente
                </a>
            </div>
            <div class="col-sm-2">
                <a href="javascript:void(0)" type="button" class="btn btn-sm btn-danger" onclick="desvincularCrm('<?= $this->id_clienteinteressado ?>')">
                    <i class="fa fa-remove"></i>
                    Desvíncular interessado do cliente
                </a>
            </div>
        </div>
        <p class="alert alert-info">
            Este interessado está vínculado a um cliente, não será possível alterar informação do interessado, para altera-las, siga até o cadastro
            de cliente pelo botão acima.
        </p>
        <?php
    }
}
?>


<div class="form-group">
    <label class="col-sm-2 control-label">Nome:</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" data-validetta='required' name="clienteInteressado[tx_nome]" id="clienteInteressado-tx_nome" placeholder="Nome">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Origem do Contato:</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" name="clienteInteressado[tx_origemcontato]" id="clienteInteressado-tx_origemcontato" placeholder="Origem do contato">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Objetivo do Contato:</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" name="clienteInteressado[tx_objetivocontato]" id="clienteInteressado-tx_objetivocontato" placeholder="Objetivo do contato">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Sexo:</label>
    <div class="col-sm-2">
        <select class="form-control" name="clienteInteressado[tx_sexo]">
            <option></option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Dt. Nascimento:</label>
    <div class="col-sm-2">
        <input type="text" class="form-control date" name="clienteInteressado[dt_nascimento]" id="clienteInteressado-dt_nascimento" placeholder="Data de Nascimento">
    </div>

</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Dt. Primeiro Contato:</label>
    <div class="col-sm-3">
        <input type="text" class="form-control datetime" name="clienteInteressado[dt_primeirocontato]" id="clienteInteressado-dt_primeirocontato" placeholder="Data do primeiro contato">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Tipo Pessoa:</label>
    <div class="col-sm-4">
        <input type="radio" name="clienteInteressado[st_tipopessoa]" value="F" checked="checked" class='st_tipopessoa' data-validetta="required"> Física
        <input type="radio" name="clienteInteressado[st_tipopessoa]" value="J" class='st_tipopessoa' data-validetta="required"> Jurídica
    </div>
</div>
<script>
    $(".st_tipopessoa").click(function () {
        st_tipopessoa = $(this).val();
        if (st_tipopessoa == 'F') {
            $(".div_pessoa_fisica").show();
            $(".div_pessoa_juridica").hide();
        } else {
            $(".div_pessoa_juridica").show();
            $(".div_pessoa_fisica").hide();
        }
    });
    $(function () {
        $(".st_tipopessoa:checked").click();
    });

    function desvincularCrm(id) {
        swal({
            title: "Desvíncular interessado do cadastro do cliente?",
            text: "Tem certeza que deseja desvíncular o interessado do cadastro de cliente?",
            type: "question",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sim',
            cancelButtonText: 'Não'
        }).then(function (result) {
            if (result.value) {
                swal({
                    title: "Remover o cadastro como cliente?",
                    text: "Remover o cadastro criado como cliente deste interessado?",
                    type: "question",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sim',
                    cancelButtonText: 'Não'
                }).then((result2) => {
                    removerCadastroComoCliente = '';
                    if (result2.value) {
                        removerCadastroComoCliente = 'S';
                    } else if (result2.dismiss === 'cancel') {
                        removerCadastroComoCliente = 'N';
                    }

                    OpenMsgAguarde();
                    $.ajax({
                        url: "/admin/crm-interessado/desvincular-cliente-interessado?id=" + id + '&apagarCliente=' + removerCadastroComoCliente,
                        dataType: 'json',
                        success: function (r) {
                            if (r.type == 'success') {
                                title = 'Sucesso';
                            } else {
                                title = 'Ops';
                            }
                            swal({
                                title: title,
                                text: r.message,
                                type: r.type
                            }).then(function () {
                                location.reload();
                            });
                        },
                        complete: function () {
                            CloseMsgAguarde();
                        }
                    });
                });
            }
        }).catch(swal.noop)
    }
</script>

<div class="form-group div_pessoa_fisica">
    <label class="col-sm-2 control-label">CPF:</label>
    <div class="col-sm-3">
        <input type="text" class="form-control cpf" name="clienteInteressado[tx_cpf]" id="clienteInteressado-tx_cpf" placeholder="CPF">
    </div>
    <label class="col-sm-1 control-label">RG:</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" name="clienteInteressado[tx_rg]" id="clienteInteressado-tx_rg" placeholder="RG">
    </div>
</div>

<div class="form-group div_pessoa_juridica">
    <label class="col-sm-2 control-label">CNPJ:</label>
    <div class="col-sm-3">
        <input type="text" class="form-control cnpj" name="clienteInteressado[tx_cnpj]" id="clienteInteressado-tx_cnpj" placeholder="CNPJ">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">Observações:</label>
    <div class="col-sm-6">
        <textarea class="form-control" rows='5' name="clienteInteressado[tx_observacao]" id='clienteInteressado-tx_observacao'></textarea>        
    </div>
</div>



<script>
    _initDatePicker();
    _initDateTimePicker();
</script>