<?php
$possuiPermissaoInteracaoCadastrar = (new Base\Service\Tbusuariotenantpermissao())->possuiPermissao('incluir-interacao-crm-interessado', null, 'I|A');
$possuiPermissaoInteracaoExcluir = (new Base\Service\Tbusuariotenantpermissao())->possuiPermissao('incluir-interacao-crm-interessado', null, 'E');

if (empty($this->id_cliente)) {
    $this->id_cliente = null;
}

//este id pode estar vazio se o usuario estiver adicionando interação pelo cadastro do cliente
if (empty($this->id_clienteinteressado)) {
    $cliente = (new Base\Service\Tbcliente())->findOneById($this->id_cliente);
    if (empty($cliente)) {
        die('Algo de errado ocorreu, favor entrar em contato com o suporte.');
    } else {
        $this->id_cliente = $cliente['id_cliente'];
        $this->id_clienteinteressado = $cliente['id_clienteinteressado'];
    }
}
?>
<?php if ($possuiPermissaoInteracaoCadastrar) { ?>
    <div class="row camposCrm">
        <div class="col-md-6">
            <input type="hidden" name="crm[id_interacaoclienteinteressado]" id='crm-id_interacaoclienteinteressado' class='crmField' />

            <div class="form-group">
                <label class="col-sm-3 control-label">Atríbuido Para:</label>
                <div class="col-sm-9">
                    <select class="form-control crmField" name="crm[id_usuariotenant_responsavelpor]" id="crm-id_usuariotenant_responsavelpor">
                        <option value=""></option>
                        <?php
                        $usuarios = (new Base\Service\Tbusuariotenant())->fetchAll();

                        foreach ($usuarios as $usuario) {
                            ?>
                            <option value="<?= $usuario['id_usuariotenant'] ?>"><?= $usuario['tx_nomeusuario'] ?></option>
                            <?php
                        }
                        ?>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="campo">
                    <label class="col-sm-3 control-label labelFieldCrmRequired">Interação:</label>
                    <div class="col-sm-9">
                        <textarea class="form-control crmField crmFieldRequired" rows="5" id="crm-tx_interacao" name="crm[tx_interacao]"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="campo">
                    <label class="col-sm-3 control-label labelFieldCrmRequired">Anexo:</label>
                    <div class="col-sm-9">
                        <input type="file" multiple="multiple" name="anexos[]" id="anexo" />
                    </div>
                    <div class="col-md-9" id="div-anexos">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="campo">
                    <label class="control-label col-sm-3 labelFieldCrmRequired">
                        Tipo:
                    </label>
                    <div class="col-md-3">
                        <select class="form-control crmField crmFieldRequired" name="crm[tx_tipo]" id="crm-tx_tipo">
                            <?php
                            $options = (new Base\Service\Tbinteracaoclienteinteressado())->getArrTxTipo();

                            foreach ($options as $key => $option) {
                                ?>
                                <option value="<?= $key ?>"><?= $option ?></option>
                            <?php } ?>
                        </select>
                    </div>
                </div>

                <div class="campo">
                    <label class="control-label col-sm-1 labelFieldCrmRequired">
                        Data:
                    </label>
                    <div class="col-md-5">
                        <input type="text" class="form-control datetime crmField crmFieldRequired" name="crm[dt_datahora]" id="crm-dt_datahora" />
                    </div>
                </div>
            </div>

            <button class="btn btn-primary pull-right" type="button" onclick="addInteracao()">
                <i class="fa fa-plus-circle"></i>
                Salvar interação
            </button>
        </div>
    <?php } ?>

    <?php
    $classCol = "col-md-6";
    $possuiPermissaoInteracaoVisualizar = (new Base\Service\Tbusuariotenantpermissao())->possuiPermissao('visualizar-interacao-crm-interessado', null, 'V');

    if ($possuiPermissaoInteracaoVisualizar && (!$possuiPermissaoInteracaoCadastrar && !$possuiPermissaoInteracaoExcluir)) {
        $classCol = 'col-md-12';
    }
    ?>
    <div class="<?= $classCol ?>" id="timeline"></div>

</div>
<script>
    var clienteVinculadoCrm = false;
<?php
if (!empty($this->clienteVinculadoCrm)) {
    ?>
        clienteVinculadoCrm = true;
    <?php
}
?>

    function addInteracao() {
        isValid = true;
        $(".crmFieldRequired").each(function () {
            if ($(this).val() == '') {
                label = $(this).closest('.campo').find('.labelFieldCrmRequired').html();
                label = str_replace(":", "", label);
                openMsg("Atenção", "Preenchas o campo " + label, 'error');
                isValid = false;
            }
        });
        if (isValid) {
            OpenMsgAguarde();
            inputs = $('.crmField').serialize();

            $.ajax({
                url: '/admin/crm-interessado/add-interacao?id_clienteinteressado=<?= $this->id_clienteinteressado ?>&id_cliente=<?= $this->id_cliente ?>',
                dataType: "json",
                type: "POST",
                data: inputs,
                success: function (r) {
                    openMsg("", r.message, r.type);
                    loadTimelime();
                    $(".camposCrm :input:not(#crm-tx_tipo)").val('');
                    $('#div-anexos').html('');
                },
                error: function (r) {
                    openMsg("Um erro ocorreu!.", r.message, r.type);
                },
                complete: function (r) {
                    CloseMsgAguarde();
                }
            });
        }
        $("body").removeAttr("style");
    }


    $('#anexo').change(function () {
        url_original = $('#validate').attr('action');


        OpenMsgAguarde();
        $('#validate').ajaxSubmit({
            url: '/admin/crm-interessado/upload-anexo',
            success: function (data) {
                $('#validate').attr('action', url_original);
                $('#validate').removeAttr('target');

                if (!empty(data.message)) {
                    openMsg('Erro', data.message, 'danger');
                } else {
                    data = $.parseJSON(data);
                    putAnexo(data, "#div-anexos");
                }

                CloseMsgAguarde();

            }
        });
    });

    function putAnexo(data, local, permiteEditar) {

        if (permiteEditar == 'N') {
            permiteEditar = false;
        } else {
            permiteEditar = true;
        }
        htmlAppend = '';

        $.each(data.arquivos, function (k, v) {
            htmlAppend += '<div class="div-anexos-botoes-arquivos">';
            htmlAppend += '<div class="btn-group">';
            if (permiteEditar) {
                htmlAppend += '<button type="button" class="btn btn-xs btn-default" title="Remover anexo" data-toggle="tooltip" onclick="removeAnexo(this)">';
                htmlAppend += '<i class="fa fa-remove"></i>';
                htmlAppend += '</button>'
            }
            htmlAppend += '<a href="/' + data.folder + '/' + v.nomeServidor + '" class="btn btn-xs btn-default" target="_blank">';
            if (permiteEditar) {
                htmlAppend += '<input type="hidden" name="crm-anexos[' + data.folder + '][]" value="' + v.nomeServidor + '" class = "crmField">';
                htmlAppend += '<input type="hidden" name="crm-anexos-nome-arquivos[' + v.nomeServidor + ']" value="' + v.nomeArquivo + '" class="crmField">';
            }
            htmlAppend += v.nomeArquivo;
            htmlAppend += '</a>';
            htmlAppend += '</div>';
            htmlAppend += '</div>';
        });
        $(local).append(htmlAppend);
        _initToolTip();
    }

    function removeAnexo(obj) {
        swal({
            title: "Remover anexo",
            text: "Tem certeza que deseja remover este anexo?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sim',
            cancelButtonText: 'Não'
        }).then(function (result) {
            if (result.value) {
                $(obj).closest('.div-anexos-botoes-arquivos').remove();
            }
        });
    }


    function loadTimelime() {
        OpenMsgAguarde();
        $("#timeline").load("/admin/crm-interessado/timeline?id_clienteinteressado=<?= $this->id_clienteinteressado ?>&id_cliente=<?= $this->id_cliente ?>", function () {
            CloseMsgAguarde();
            if (clienteVinculadoCrm) {
                $('button').prop('disabled', true);
            }
        });
    }

    $(function () {
        loadTimelime();
    });

    _initDateTimePicker();
</script>