<div class='row'>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Endereço
            </div>
            <div class="panel-body">
                <div class='padraoEndereco htmlModeloAdd' style="display: none">
                    <div class="div_cep">
                        <div class="form-group">
                            <label class="control-label col-sm-2">
                                CEP:
                            </label>
                            <div class="col-sm-2">
                                <input type="text" data-validetta="required" name="clienteinteressado-endereco[tx_cep][]" class="form-control cep" onchange="buscaCEP(this)" />
                            </div>

                            <label class="control-label col-sm-4">
                                UF
                            </label>
                            <div class="col-sm-1">
                                <input type="text" data-validetta="required" name="clienteinteressado-endereco[tx_uf][]" class="form-control uf" maxlength="2" />
                            </div>
                            <div class="col-sm-2 text-center" style="line-height: 30px">
                                <button class="btn btn-xs btn-danger" type="button" onclick="$(this).closest('.div_cep').remove()" data-toggle="tooltip" title="Remover">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">
                                Logradouro
                            </label>
                            <div class="col-sm-7">
                                <input type="text" data-validetta="required" name="clienteinteressado-endereco[tx_endereco][]" class="form-control logradouro"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">
                                Número
                            </label>
                            <div class="col-sm-2">
                                <input type="text" name="clienteinteressado-endereco[tx_numero][]" class="form-control numero "/>
                            </div>
                            <label class="control-label col-sm-1">
                                Cidade
                            </label>
                            <div class="col-sm-4">
                                <input type="text" data-validetta="required" name="clienteinteressado-endereco[tx_cidade][]" class="form-control cidade"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">
                                Bairro
                            </label>
                            <div class="col-sm-3">
                                <input type="text" name="clienteinteressado-endereco[tx_bairro][]" class="form-control bairro"/>
                            </div>
                            <label class="control-label col-sm-2">
                                Complemento
                            </label>
                            <div class="col-sm-2">
                                <input type="text" name="clienteinteressado-endereco[tx_complemento][]" class="form-control complemento"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">
                                Observações
                            </label>
                            <div class="col-sm-7">
                                <textarea name="clienteinteressado-endereco[tx_observacao][]" class="form-control observacoes"></textarea>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>

                <div class='addEnderecos'></div>

                <button class='btn btn-success btn-sm btn-block' type='button' onclick='addEndereco()'>
                    <i class='fa fa-plus'></i> Adicionar endereço
                </button>
            </div>

            <?php
            $enderecosJson = json_encode(array());
            if (!empty($this->id_clienteinteressado)) {
                $enderecos = (new \Base\Service\Tbclienteinteressadoendereco)->fetchAll(array('id_clienteinteressado' => $this->id_clienteinteressado));
                $enderecosJson = json_encode($enderecos);
            }
            ?>


            <script>
                var enderecosJson = <?= $enderecosJson ?>;

                function addEndereco() {
                    htmlEndereco = $(".padraoEndereco").html();
                    $('.addEnderecos').append(htmlEndereco);
                    _initMask();
                    _initToolTip();
                }

                $(function () {
                    $.each(enderecosJson, function (k, data) {
                        addEndereco();
                        $(".cep:last").val(data.tx_cep);
                        $(".uf:last").val(data.tx_uf);
                        $(".logradouro:last").val(data.tx_endereco);
                        $(".numero:last").val(data.tx_numero);
                        $(".cidade:last").val(data.tx_cidade);
                        $(".bairro:last").val(data.tx_bairro);
                        $(".complemento:last").val(data.tx_complemento);
                        $(".observacoes:last").text(data.tx_observacao);
                    });
                });


                function buscaCEP(obj) {
                    cep = $(obj).val();

                    div_cep = $(obj).closest(".div_cep");

                    OpenMsgAguarde();
                    $.get("https://viacep.com.br/ws/" + cep + "/json/", function (data) {
                        console.log(data.bairro);
                        div_cep.find(".bairro").val(data.bairro);
                        div_cep.find(".complemento").val(data.complemento);
                        div_cep.find(".logradouro").val(data.logradouro);
                        div_cep.find(".cidade").val(data.localidade);
                        div_cep.find(".uf").val(data.uf);
                        CloseMsgAguarde();
                    });
                }
            </script>
        </div>
    </div>
</div>