<ul class="timeline">
    <?php    
    $interacoes = (new \Base\Service\Tbinteracaoclienteinteressado())->fetchAll(array('id_clienteinteressado' => $this->id_clienteinteressado, 'order' => 'dt_datahora DESC'));

    $possuiPermissaoInteracaoCadastrar = (new Base\Service\Tbusuariotenantpermissao())->possuiPermissao('incluir-interacao-crm-interessado', null, 'I|A');
    $possuiPermissaoInteracaoExcluir = (new Base\Service\Tbusuariotenantpermissao())->possuiPermissao('excluir-interacao-crm-interessado', null, 'E');

    if (!empty($interacoes)) {

        foreach ($interacoes as $interacao) {
            $dt_datahora = (new \Base\Controller\BaseController)->reverseDate($interacao['dt_datahora']);
            list($data, $hora) = explode(" ", $dt_datahora);

            list($dia, $mes, $ano) = explode("/", $data);

            $mesExtenso = (new \Base\Controller\BaseController)->getNomMonth($mes);
            $mesExtenso = substr($mesExtenso, 0, 3) . '.';
            ?>
            <!-- timeline time label -->
            <li class="time-label">
                <span class="bg-green">
                    <!--10 Feb. 2014-->
                    <?php echo $dia . " " . $mesExtenso . " " . $ano ?>
                </span>
            </li>
            <li>
                <?php
                $icon = (new \Base\Service\Tbinteracaoclienteinteressado())->getIconTipoInteracao($interacao['tx_tipo']);

                $tx_tipo = (new Base\Service\Tbinteracaoclienteinteressado())->getArrTxTipo($interacao['tx_tipo']);
                ?>
                <!-- timeline icon -->
                <i class="<?= $icon ?> bg-blue" data-toggle='tooltip' title='<?= $tx_tipo ?>'></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> <?= $hora ?></span>

                    <h3 class="timeline-header">
                        <?php
                        if (!empty($interacao['id_usuariotenant_responsavelpor'])) {
                            ?>
                            <?= (new Base\Service\Tbusuariotenant)->getNomeUsuario($interacao['id_usuariotenant_responsavelpor']) ?>
                        <?php } ?>
                    </h3>

                    <div class="timeline-body">
                        <?= $tx_tipo ?>: <?= $interacao['tx_interacao'] ?>
                        <br><br>
                        <?php
                        $anexos = (new Base\Service\Tbinteracaoclienteinteressadoanexo())->fetchAll(array(
                            'id_interacaoclienteinteressado' => $interacao['id_interacaoclienteinteressado']
                        ));
                        if (!empty($anexos)) {
                            $arrAnexos = array();
                            foreach ($anexos as $key => $anexo) {
                                $arrAnexos['folder'] = $anexo['tx_folder'];
                                $arrAnexos['arquivos'][$key]['nomeServidor'] = $anexo['tx_nomeservidor'];
                                $arrAnexos['arquivos'][$key]['nomeArquivo'] = $anexo['tx_nomearquivo'];
                            }
                            $jsonAnexos = json_encode($arrAnexos);
                            ?>
                            <div class="anexos-timeline-<?= $interacao['id_interacaoclienteinteressado'] ?>"></div>
                            <script>
                                data = <?= $jsonAnexos ?>;
                                putAnexo(data, '.anexos-timeline-<?= $interacao['id_interacaoclienteinteressado'] ?>', 'N');
                            </script>
                        <?php } ?>
                    </div>

                    <div class="timeline-footer">
                        <?php if ($possuiPermissaoInteracaoCadastrar) { ?>
                            <button type="button" class="btn btn-primary btn-xs" onclick="editarCrmInteracao('<?= $interacao['id_interacaoclienteinteressado'] ?>')">
                                Editar
                            </button>
                        <?php } ?>
                        <?php if ($possuiPermissaoInteracaoExcluir) { ?>
                            <button type="button" class="btn btn-danger btn-xs" onclick="excluirCrmInteracao('<?= $interacao['id_interacaoclienteinteressado'] ?>')">
                                Excluir
                            </button>
                        <?php } ?>
                    </div>
                </div>
            </li>
            <?php
        }
    }
    ?>
</ul>
<script>
    function editarCrmInteracao(id) {
        OpenMsgAguarde();
        $.ajax({
            url: "/admin/crm-interessado/get-interacao-crm?id=" + id,
            dataType: 'json',
            success: function (r) {
                $.each(r.interacao, function (k, v) {
                    $("#crm-" + k).val(v);
                });

                $("#div-anexos").html('');
                if (!empty(r.anexos)) {
                    putAnexo(r.anexos, "#div-anexos");
                }
            },
            complete: function () {
                CloseMsgAguarde();
            }
        });
    }

    function excluirCrmInteracao(id) {
        swal({
            title: "Esta ação pode ser irreversível!",
            text: "Tem certeza que deseja excluir esta interação?",
            type: "question",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sim',
            cancelButtonText: 'Não'
        }).then(function (result) {
            if (result.value) {
                OpenMsgAguarde();
                $.ajax({
                    url: "/admin/crm-interessado/excluir-interacao-crm?id=" + id,
                    dataType: 'json',
                    success: function (r) {
                        if (r.type == 'success') {
                            title = 'Sucesso';
                            loadTimelime();
                        } else {
                            title = 'Ops';
                        }
                        swal({
                            title: title,
                            text: r.message,
                            type: r.type
                        });
                    },
                    complete: function () {
                        CloseMsgAguarde();
                    }
                });
            }
        })

    }

    _initToolTip();
</script>